/**
 * Test of slider with vainilla JS and CSS
 * Moisés alcocer, 2018
 * https://www.ironwoods.es
 *
 * @info: base styles
 */

/*
    img-max
      height: 480px;
      width:  380px;

    img-mini
      height: 380px;
      width:  280px;
/**/
.btn {
  border:        1px solid grey;
  border-radius: 5px;
  padding:       9px;
}
.btn:hover {
  border-color:  darkgrey;
  color:         darkgrey !important;
  cursor:        pointer;
}

.slider {
  margin:        20px auto;
  margin-top:   -60px;
  min-width:     300px !important;
  width:         92%;
}
.slider img {
  height:        380px;
  width:         280px;
}

.slider .controls {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  top: 240px;
  width: 280px; /* image width */
}

.slider .controls .arrow {
  background: white;
  color: grey;
  display: inline;
  font-size: 54px;
  text-align: center;
  visibility: hidden;
  width: 48px;
}

.slider .controls .arrow-left {
  margin-right: 5%;
}

.slider .controls .arrow-right {
  margin-left: -15%;
}

/*** swaps back and next buttons visibility ***/
.slider .controls .btn-active {
  visibility: visible;
}

.slider .controls .btn-inactive {
  visibility: hidden;
}

.slider .slide {
  align-items: center;
  background:    lightgrey;
  border:        1px solid silver;
  display: flex;
  margin:        0 auto;
  padding:       2%;
}

.slider .slide a {
  margin:        0 auto;
}


/***********************************************************************
/***********************************************************************
 * Media queries
 *
 */

@media (min-width: 520px) {
  .slider {
    margin-top: -260px;
  }
  .slider img {
    height:       480px;
    width:        380px;
  }
  .slider .controls {
    margin-top: 200px;
    top:280px;
    width: 380px;
  }
  .slider .slide {
    width:        80%;
  }
}
